@model Lincoln.Admin.Web.Models.QuestionSetUpViewModel
<style>
    .hidden {
        display: none;
    }
</style>

<div class="content-body">
    <!-- Base style table -->
    @Html.HiddenFor(a => a.PaperDetailsID)

    <div class="row">

        <div class="col-lg-12">
            <div class="form-group row">
                <label class="col-lg-3 label-control"><b>Question Type  </b></label>
                <div class="position-relative col-lg-9">
                    <div class="input-group">
                        <div class="d-inline-block custom-control custom-radio mr-1">
                            <input type="radio" name="QuestionType" disabled="disabled" value="S" @(Model.QuestionType == "S" ? "checked" : "")> Subjective
                        </div>
                        <div class="d-inline-block custom-control custom-radio">
                            <input type="radio" name="QuestionType" disabled="disabled"  value="O" @(Model.QuestionType == "O" ? "checked" : "")> Objective
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group col-lg-12">
            <label><b>Question Statement <span class="requiredstar">*</span> </b></label>
            <div class="position-relative">
                @Html.EditorFor(a => a.QuestionText, new { @class = "form-control" })
                <span id="SyllabusVersionCodeVal" style="color:red;display:none" class="valClass">Please select Version.</span>
            </div>
        </div>

        @*<div class="form-group col-lg-6">
            <label><b>Question Marks </b></label>
            <div class="position-relative ">
                @Html.TextBoxFor(a => a.QuestionMarks, new { @class = "form-control" })
                <span id="CountryCodeVal" style="color:red;display:none" class="valClass">Please select Country.</span>
            </div>
        </div>*@
        @if (Model.QuestionType == "O")
        {
            <div id="myContent">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group row">
                                <div class="col-lg-1">
                                    <input type="radio" name="OptionANo" value="A" /> A
                                </div>
                                <div class="col-lg-11">
                                    @Html.TextBoxFor(a => a.OptionAText, new { @class = "form-control" })
                                    <span id="AcademicYearCodeVal" style="color:red;display:none" class="valClass">Please select Year.</span>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-12">
                            <div class="form-group row">
                                <div class="col-lg-1">
                                    <input type="radio" name="OptionBNo" value="B" /> B
                                </div>
                                <div class="col-lg-11">
                                    @Html.TextBoxFor(a => a.OptionBText, new { @class = "form-control" })
                                    <span id="AcademicYearCodeVal" style="color:red;display:none" class="valClass">Please select Year.</span>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-12">
                            <div class="form-group row">
                                <div class="col-lg-1">
                                    <input type="radio" name="OptionCNo" value="C" /> C
                                </div>
                                <div class="col-lg-11">
                                    @Html.TextBoxFor(a => a.OptionCText, new { @class = "form-control" })
                                    <span id="AcademicYearCodeVal" style="color:red;display:none" class="valClass">Please select Year.</span>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-12">
                            <div class="form-group row">
                                <div class="col-lg-1">
                                    <input type="radio" name="OptionDNo" value="D" /> D
                                </div>
                                <div class="col-lg-11">
                                    @Html.TextBoxFor(a => a.OptionDText, new { @class = "form-control" })
                                    <span id="AcademicYearCodeVal" style="color:red;display:none" class="valClass">Please select Year.</span>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-12">
                            <div class="form-group row">
                                <div class="col-lg-1">
                                    <input type="radio" name="OptionENo" value="E" /> E
                                </div>
                                <div class="col-lg-11">
                                    @Html.TextBoxFor(a => a.OptionEText, new { @class = "form-control" })
                                    <span id="AcademicYearCodeVal" style="color:red;display:none" class="valClass">Please select Year.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group col-lg-6">
                <label><b>Answer No<span class="requiredstar">*</span> </b></label>
                <div class="position-relative">
                    @Html.TextBoxFor(a => a.AnswerNo, new { @class = "form-control" })
                    <span id="AcademicYearCodeVal" style="color:red;display:none" class="valClass">Please select Year.</span>
                </div>
            </div>
        }


       

        <div class="form-group col-lg-12">
            <label><b>Answer Statement<span class="requiredstar">*</span> </b></label>
            <div class="position-relative">
                @Html.EditorFor(a => a.AnswerText, new { @class = "form-control" })
                <span id="SemisterCodeVal" style="color:red;display:none" class="valClass">Please select Semester.</span>
            </div>
        </div>

    </div>

    <button type="button" onclick="fnSavePaperDetails()" class="btn btn-primary">
        <i class="fa fa-check-square-o"></i> Save
    </button>
    <!--/ Base style table -->
</div>
<script>
    CKEDITOR.plugins.addExternal('ckeditor_wiris', 'https://www.wiris.net/demo/plugins/ckeditor/', 'plugin.js');

    CKEDITOR.replace('QuestionText', {
        filebrowserImageBrowseUrl: '/Home/uploadPartial',
        filebrowserImageUploadUrl: '/Home/uploadnow',
        extraPlugins: 'ckeditor_wiris'
    });
    CKEDITOR.replace('AnswerText', {
        filebrowserImageBrowseUrl: '/Home/uploadPartial',
        filebrowserImageUploadUrl: '/Home/uploadnow',
        extraPlugins: 'ckeditor_wiris'
    });
    function updateValue(id, value) {
        // this gets called from the popup window and updates the field with a new value
        document.getElementById(id).value = value;
    }
    


</script>