@model Lincoln.Admin.Web.Models.ExamHeaderButtonViewModel
<div id="navContainer" class="hideOverFlowFF">
    <div id="navigationPanelL" class="navPanelL">
            @for (int i = Model.FirstLengthStart; i <= Model.FirstLengthEnd; i++)
            {
                <a id="@i" onclick="goTo('@i','@Model.CourseID');" class="goTo">
                    <span class="directNavElement icon2 question  ">
                        <span class="directNavLabel lftS ">@i</span>
                    </span>
                </a>
            }
        </div>

    <div class="questionNavPanel navPanelM">
        <div class="navIconLft icon2 castlenavleft activeNav">
            <a class="navLabel right noUnderline" onclick="goTo('@Model.Previous','@Model.CourseID');" title="Previous Question">Prev</a>
        </div>
        <div class="navCountElement">
            <span class="navCountLabel" style="text-align:center">
                <span id="lblCurrentQuestion">@Model.Current</span>
            </span>
        </div>
        <div class="navIconRht icon2 castlenavright activeNav">
            <a class="navLabel left noUnderline" onclick="goTo('@Model.Next','@Model.CourseID');" title="Next Question">Next</a>
        </div>
    </div>

    <div id="navigationPanel" class="navPanelR">
        @for (int i = Model.SecondLengthStart; i <= Model.SecondLengthEnd; i++)
        {
            <a id="@i" onclick="goTo('@i','@Model.CourseID');" class="goTo">
                <span class="directNavElement icon2 question">
                    <span class="directNavLabel lftS ">@i</span>
                </span>
            </a>
        }
    </div>
</div>
