
@model IEnumerable<Lincoln.Admin.Web.Models.StudentDashboardViewModel>
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Areas/Student/Views/Shared/_StudentLayout.cshtml";
}

<div class="content-wrapper">
    
    <div class="content-body">
        <table id="examList" class="table table-striped table-bordered base-style" style="width:100%">
            <thead>
                <tr>
                    <th>SlNo</th>
                    <th>Examination Name</th>
                    <th>Start Date-Time</th>
                    <th>End Date-Time</th>
                    <th>Examination Status</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null && Model.Count() > 0)
                {
                    foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.SLNo</td>
                            <td>@item.ExaminationName</td>
                            <td>@item.StartDate</td>
                            <td>@item.EndDate</td>
                            <td>
                                @if (item.ExamAttendance == "I")
                                {
                                    <a href="@Url.Action("ExaminationView","Student",new {area="Student",id="1" })" class="btn btn-success" title="Start">Exam Start Now</a>
                                        }
                            </td>
                        </tr>
                    }

                }

            </tbody>
        </table>

    </div>
</div>
<script>
    $('#examList').dataTable();
</script>
