@model Tuple<Lincoln.Admin.Web.Models.StudentExamViewModel, List<Lincoln.Admin.Web.Models.ExamQuestionSectionViewModel>>
@{
    ViewBag.Title = "Exam";
    Layout = "~/Areas/Student/Views/Shared/_ExamLayout.cshtml";
}
<script src="https://cdn.ckeditor.com/4.13.1/standard/ckeditor.js"></script>
<div class="content-wrapper">
    <div class="content-body">
        <!-- Stats -->
        <div class="row">
            <div class="col-xl-12 col-lg-12">
                <!--PAGE CONTENT -->
                <div id="online">
                    <div class="inner">
                        <div>
                            <div class="row bdstyl">
                                <!-- GRID SHOW START -->
                                <div class="row-fluid">
                                    <div class="span12">
                                        <!-- BEGIN BASIC PORTLET-->
                                        <div class="widgetk orange">
                                            <div class="widgetk-title">
                                                <div class="col-lg-4">
                                                    Time Left: <span id="timer" class="timerclass"></span>
                                                </div>
                                                <div class="col-lg-4">
                                                    @Model.Item1.ExaminationName
                                                </div>
                                                <div class="col-lg-4">
                                                    <a class="btnk btnk-primary float-right" onclick="fnSubmitSheet('@Model.Item1.CourseID')" style="margin-top:-6px;">
                                                        <i class="fa fa-share"></i> &nbsp; <span>Submit Exam</span>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="widgetk-body">
                                                <!--ONLINE ANSWER PAPER SHOW START -->
                                                <!--==========================-->
                                                <section class="main-page">
                                                    <div class="containerk">
                                                        <div class="row">
                                                            <div class="col-xs-12 col-md-12 col-sm-12">
                                                                <div class="row">
                                                                    <div class="col-sm-12">
                                                                        <div id="navHeader">
                                                                            @{ Html.RenderAction("HeaderButton", "Student", new { area = "Student", id = Model.Item1.CourseID });}
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <!--SECTION PART START-->
                                                                <div class="row">
                                                                    <div class="col-sm-12">
                                                                        <div class="panelEx">
                                                                            <center>
                                                                                @if (Model.Item2 != null && Model.Item2.Count() > 0)
                                                                                {
                                                                                    foreach (var sectionData in Model.Item2)
                                                                                    {
                                                                                        <a id="save_next" style="cursor:pointer" onclick="fnSetQuestionSheet('@Model.Item1.CourseID','@sectionData.MinQuestionNo','@sectionData.SectionName')" class="load_more btnk btnk-primary"><span>@sectionData.SectionName</span></a>
                                                                                    }

                                                                                }

                                                                                @*<a id="mark_next" style="cursor:pointer" class="load_more btnk btnk-primary"><span>General English</span></a>
                                                                                    <a id="save_next" style="cursor:pointer" class="load_more btnk btnk-primary"><span>Reasoning</span></a>
                                                                                    <a id="clear" class="clear btnk btnk-primary"><span>Quantitative Aptitude</span></a>
                                                                                    <a class="btnk btnk-primary"><span>General Awareness</span></a>*@
                                                                            </center>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <!--SECTION PART END-->
                                                                <div class="row">
                                                                    <!--QUESTION BODY LEFT SECTION START-->
                                                                    <div class="col-sm-2">
                                                                        <div class="casLftPanel">
                                                                            @{ Html.RenderAction("LeftSuggestionPanel", "Student", new { area = "Student", id = Model.Item1.CourseID });}
                                                                        </div>
                                                                    </div><!-- /.col-sm-2 -->
                                                                    <!--QUESTION BODY LEFT SECTION END-->
                                                                    <!--QUESTION BODY RIGHT SECTION START-->
                                                                    <div class="col-sm-10">
                                                                        <div id="QuestionBody">
                                                                            @{Html.RenderAction("QuestionSheet", "Student", new
                                                                                {
                                                                                    area = "Student",
                                                                                    courseID = Model.Item1.CourseID,
                                                                                    questionNo = Model.Item2?.FirstOrDefault().MinQuestionNo.ToString() ?? string.Empty,
                                                                                    sectionName = Model.Item2?.FirstOrDefault().SectionName.ToString() ?? string.Empty
                                                                                });}

                                                                        </div>
                                                                    </div><!-- /.col-sm-10 -->
                                                                    <!--QUESTION BODY RIGHT SECTION END-->
                                                                </div><!-- /.row -->
                                                            </div>
                                                        </div>
                                                    </div><!-- /.container -->
                                                </section>
                                                <!--==========================-->
                                                <!--ONLINE ANSWER PAPER SHOW END -->
                                            </div>
                                        </div>
                                        <!-- END BASIC PORTLET-->
                                    </div>
                                </div>
                                <!-- GRID SHOW END -->
                                <div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--END PAGE CONTENT -->
            </div>
        </div>
        <!--/ Stats -->
    </div>
    <div class="footerk">
        <p class="clearfix blue-grey lighten-2 text-sm-center mb-0 px-2">
            <span class="float-md-left d-block d-md-inline-block">
                Copyright  &copy; 2019
                <a class="text-bold-800 grey darken-2" href="http://kreativesit.com" target="_blank">KITS</a>
            </span>
            <span class="float-md-right d-none d-lg-block">ESA<i class="fa fa-home pink"></i></span>
        </p>
    </div>
</div>
@*<div class="modal fade" id="myModal" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">

                    <button class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body recoPas">
                </div>
            </div>
        </div>
    </div>*@

<div id="dialog">
    @{Html.RenderAction("CalculatorWindow", "Student", new { area = "Student" }); }
</div>
<script src="~/Content/assets/TestExam/jquery.countdownTimer.js"></script>
<script>
    $(function () {
        $("#timer").countdowntimer({
            hours: 1,
            minutes: 0,
            seconds: 0,
            timeUp: timeisUp
        });
        function timeisUp() {
            alert('End');
        }
        $('#dialog').dialog({
            autoOpen: false,
        });
    });
    function fnSetQuestionSheet(courseID, questionNo, sectionName) {
        $('#QuestionBody').load('/Student/Student/QuestionSheet/' + courseID + '/' + questionNo + '/' + sectionName);
    }
    function fnSubmitSheet(courseID) {

    }
    function fnSaveExaminationTest() {
        courseID = '@Model.Item1.CourseID';

        var isAnsQues = false;
        if (typeof $('input[name="AnswerNo"]:checked').val() !== 'undefined' && $('input[name="AnswerNo"]:checked').val() != '') {
            isAnsQues = true;
        }
        else if (typeof $('input[name="AnswerText"]').val() !== 'undefined' && $('input[name="AnswerText"]').val() != '') {
            isAnsQues = true;
        }
        if (isAnsQues) {

            var model = {
                QuestionNo: $('#QuestionNo').val(),
                IsAnswer: $('#IsAnswer').val(),
                //AnswerText: $('input[name="AnswerText"]').val(),
                AnswerNo: $('input[name="AnswerNo"]:checked').val()
            };
            $.ajax({
                url: '@Url.Action("SaveExaminationTest", "Student",new {area= "Student" })',
                data: JSON.stringify(model),
                type: 'POST',
                cache: false,
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (result) {
                    if (result == 0) {
                        alert('Error in your requst.');
                    }
                    fnRefreshLeftPanel();
                },
                error: function (e) {
                    alert('Error in your requst.');
                }
            });

        }
        else {
            fnRefreshLeftPanel();
        }
    }

    function flagCurrentQuestion() {
        courseID = '@Model.Item1.CourseID';

        var model = {
            QuestionNo: $('#QuestionNo').val(),
            IsAnswer: -1,
        };
        $.ajax({
            url: '@Url.Action("SaveExaminationTest", "Student",new {area= "Student" })',
            data: JSON.stringify(model),
            type: 'POST',
            cache: false,
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                if (result == 0) {
                    alert('Error in your requst.');
                }
                fnRefreshLeftPanel();
            },
            error: function (e) {
                alert('Error in your requst.');
            }
        });

    }
    function goTo(questionNo, courseID) {
        fnSaveExaminationTest();
        $('#QuestionBody').load('/Student/Student/QuestionSheet/' + courseID + '/' + questionNo + '/');
       
    }

    function ShowCalculator() {
        $('#dialog').dialog('open');
    }

    function fnRefreshLeftPanel() {
        $('.casLftPanel').load('/Student/Student/LeftSuggestionPanel/@Model.Item1.CourseID');
    }

</script>
