
<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="KITS">
    <link rel="shortcut icon" type="image/x-icon" href="~/Content/assets/images/ico/favicon.ico">
    <!-- BEGIN: Vendor CSS-->
    <link rel="shortcut icon" type="image/x-icon" href="~/Content/assets/images/ico/favicon.ico">
    <!-- BEGIN: Vendor CSS-->
    <link rel="stylesheet" type="text/css" href="~/Content/assets/vendors/css/vendors.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/assets/vendors/css/tables/datatable/datatables.min.css">

    <!-- END: Vendor CSS-->
    <!-- BEGIN: Theme CSS-->
    <link rel="stylesheet" type="text/css" href="~/Content/assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/assets/css/bootstrap-extended.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/assets/css/colors.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/assets/css/components.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/assets/fonts/feather/style.min.css">
    <!-- END: Theme CSS-->
    <!-- BEGIN: Page CSS-->
    <link rel="stylesheet" type="text/css" href="~/Content/assets/css/core/menu/menu-types/vertical-menu-modern.css">
    <link rel="stylesheet" type="text/css" href="~/Content/assets/css/core/colors/palette-gradient.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/assets/fonts/simple-line-icons/style.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/assets/css/pages/timeline.min.css">
    <link href="~/Content/assets/vendors/css/pickers/datetime/bootstrap-datetimepicker.css" rel="stylesheet" />
    <!-- BEGIN Vendor JS-->
    <!-- BEGIN: Page Vendor JS-->
    @*<script src="~/Content/assets/vendors/js/charts/raphael-min.js"></script>
        <script src="~/Content/assets/vendors/js/charts/morris.min.js"></script>
        <script src="~/Content/assets/vendors/js/extensions/unslider-min.js"></script>
        <script src="~/Content/assets/vendors/js/timeline/horizontal-timeline.js"></script>*@
    <!-- END: Page Vendor JS-->
    <!-- BEGIN: Theme JS-->
    <script src="~/Content/assets/vendors/js/vendors.min.js"></script>
    <script src="~/Content/assets/vendors/js/extensions/moment.min.js"></script>
    <script src="~/Content/assets/vendors/js/pickers/dateTime/bootstrap-datetimepicker.min.js"></script>
    <script src="~/Content/assets/js/scripts/pickers/dateTime/bootstrap-datetime.min.js"></script>
    <script src="~/Content/assets/vendors/js/tables/datatable/datatables.min.js"></script>

    @*<script src="~/Content/assets/js/scripts/customizer.min.js"></script>*@
    <script src="~/Content/assets/js/scripts/tables/datatables/datatable-styling.min.js"></script>
    <style>
    #overlay {
        background: #ffffff;
        color: #666666;
        position: fixed;
        height: 100%;
        width: 100%;
        z-index: 5000;
        top: 0;
        left: 0;
        float: left;
        text-align: center;
        padding-top: 20%;
        opacity: .80;
    }
    .spinner {
    margin: 0 auto;
    height: 64px;
    width: 64px;
    animation: rotate 0.8s infinite linear;
    border: 5px solid #00796b;
    border-right-color: transparent;
    border-radius: 50%;
}
@@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
</style>
</head>
<!-- END: Head-->
<!-- BEGIN: Body-->
<body class="vertical-layout vertical-menu-modern 2-columns   fixed-navbar" data-open="click" data-menu="vertical-menu-modern" data-col="2-columns">
    <!-- BEGIN: Header-->
    <nav class="header-navbar navbar-expand-lg navbar navbar-with-menu fixed-top navbar-semi-dark navbar-shadow">
        <div class="navbar-wrapper">
            <div class="navbar-header">
                <ul class="nav navbar-nav flex-row">
                    <li class="nav-item mobile-menu d-lg-none mr-auto">
                        <a class="nav-link nav-menu-main menu-toggle hidden-xs" href="#">
                            <i class="ft-menu font-large-1"></i>
                        </a>
                    </li>
                    <li class="nav-item mr-auto">
                        <a class="navbar-brand" href="@Url.Action("Dashboard","Admin",new {area="Admin" })">
                            <img class="brand-logo" alt="stack admin logo" src="~/Content/assets/images/logo/dashboardLogo.png">
                        </a>
                    </li>
                    <li class="nav-item d-lg-none">
                        <a class="nav-link open-navbar-container" data-toggle="collapse" data-target="#navbar-mobile">
                            <i class="fa fa-ellipsis-v"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="navbar-container content">
                <div class="collapse navbar-collapse" id="navbar-mobile">
                    <ul class="nav navbar-nav mr-auto float-left">
                        <li class="nav-item d-none d-md-block">
                            <a class="nav-link nav-link-expand" href="#">
                                <i class="ficon ft-maximize"></i>
                            </a>
                        </li>
                        <li class="nav-item nav-search">
                        </li>
                    </ul>
                    <ul class="nav navbar-nav float-right">
                        
                        <li class="dropdown dropdown-user nav-item">
                            <a class="dropdown-toggle nav-link dropdown-user-link" href="#" data-toggle="dropdown">
                                <span class="avatar avatar-online">
                                    <img src="~/Content/assets/images/ikon/Grievance.png">
                                    <i></i>
                                </span>
                                <span class="user-name">Supper Admin</span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" href="@Url.Action("LogOut","Home",new {area="" })">
                                    <i class="ft-power"></i> Logout
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <!-- END: Header-->
    <!-- BEGIN: Main Menu-->
    <div class="main-menu menu-fixed menu-dark menu-accordion menu-shadow" data-scroll-to-active="true">
        <div class="main-menu-content">
            <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
                <li class="nav-item active">
                    <a href="@Url.Action("Dashboard","Admin",new {area="Admin" })"><i class="ft-home"></i><span class="menu-title" data-i18n="">Dashboard</span></a>
                </li>
                <li class="nav-item">
                    <a href="#"><i class="ft-edit"></i><span class="menu-title" data-i18n="">MQF Structure</span></a>
                    <ul class="menu-content">
                        <li>
                            <a class="menu-item" href="@Url.Action("AcademicLevel","Admin",new {area="Admin" })">MQF Level</a>
                        </li>
                        <li>
                            <a class="menu-item" href="@Url.Action("Department","Admin",new {area="Admin" })">Faculty</a>
                        </li>
                        <li>
                            <a class="menu-item" href="@Url.Action("Programme","Admin",new {area="Admin" })">Programme</a>
                        </li>
                        <li>
                            <a class="menu-item" href="@Url.Action("ProgrammeVersioning","Admin",new {area="Admin" })">Programme Versioning</a>
                        </li>
                        <li>
                            <a class="menu-item" href="@Url.Action("ProgrammeSemester","Admin",new {area="Admin" })">Programme Semester</a>
                        </li>
                        <li>
                            <a class="menu-item" href="@Url.Action("Course","Admin",new {area="Admin" })">Course</a>
                        </li>


                    </ul>
                </li>

                <li class="nav-item">
                    <a href="#"><i class="ft-edit"></i><span class="menu-title" data-i18n="">Examination</span></a>
                    <ul class="menu-content">


                        <li>
                            <a class="menu-item" href="@Url.Action("ExaminationName","Admin",new {area="Admin" })">Examination Name</a>
                        </li>
                        <li>
                            <a class="menu-item" href="@Url.Action("Assessment","Admin",new {area="Admin" })">Assessment</a>
                        </li>
                        <li>
                            <a class="menu-item" href="@Url.Action("SubjectAssessment","Admin",new {area="Admin" })">Course Assessment</a>
                        </li>
                        <li>
                            <a class="menu-item" href="@Url.Action("ExaminationSection","Admin",new {area="Admin" })">Examination Section</a>
                        </li>


                    </ul>
                </li>
                <li class="nav-item">
                    <a href="#"><i class="ft-edit"></i><span class="menu-title" data-i18n="">Faculty Management</span></a>
                    <ul class="menu-content">


                        <li>
                            <a class="menu-item" href="@Url.Action("EmployeeRegisration","Admin",new {area="Admin" })">Faculty Registration</a>
                        </li>
                        <li>
                            <a class="menu-item" href="@Url.Action("SubjectAllocation","Admin",new {area="Admin" })">Course Allocation</a>
                        </li>
                        


                    </ul>
                </li>
                <li class="nav-item">
                    <a href="#"><i class="ft-edit"></i><span class="menu-title" data-i18n="">Online Examination</span></a>
                    <ul class="menu-content">


                        @*<li>
                            <a class="menu-item" href="@Url.Action("OnlineExaminationApp","Admin",new {area="Admin" })">Online Examination Application</a>
                        </li>*@
                        <li>
                            <a class="menu-item" href="@Url.Action("ExamSchedule","Admin",new {area="Admin" })">Examination Scheduling</a>
                        </li>

                        <li>
                            <a class="menu-item" href="@Url.Action("EvaluationAllotment","Admin",new {area="Admin" })">Evaluation Allotment</a>
                        </li>
                        <li>
                            <a class="menu-item" href="@Url.Action("ResultApproval","Admin",new {area="Admin" })">Result Approval</a>
                        </li>

                    </ul>
                </li>
                <li class="nav-item">
                    <a href="@Url.Action("LogOut","Home",new {area="" })"><i class="ft-power"></i><span class="menu-title" data-i18n="">Logout</span></a>
                </li>
            </ul>
        </div>
    </div>
    <script src="~/Content/assets/js/core/app-menu.min.js"></script>
    <script src="~/Content/assets/js/core/app.min.js"></script>
    <!-- END: Main Menu-->
    <!-- BEGIN: Content-->
    <div class="app-content content">
        @RenderBody()
    </div>
    <div id="overlay" style="display:none;">
        <div class="spinner"></div>
        <br />
        <h3><b>Loading.....</b></h3>
    </div>
    <!-- END: Content-->
    <!-- BEGIN: Footer-->
    <footer class="footer fixed-bottom footer-light navbar-border">
        <p class="clearfix blue-grey lighten-2 text-sm-center mb-0 px-2">
            <span class="float-md-left d-block d-md-inline-block">
                Copyright  &copy; 2019
                <a class="text-bold-800 grey darken-2" href="http://kreativesit.com" target="_blank">KITS</a>
            </span>
            <span class="float-md-right d-none d-lg-block">ESA<i class="ft-home pink"></i></span>
        </p>
    </footer>
    <!-- END: Footer-->
    <!---Password POPUP start--->
    <!---Password POPUP end--->
    <!---MyProfile POPUP start--->
    @*<div class="col-lg-12">
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">
                                <label class="modal-title text-text-bold-600"></label>
                            </h4>
                            <button class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        </div>
                        <div class="modal-body recoPas">

                        </div>
                    </div>
                </div>
            </div>
        </div>*@
    <!---MyProfile POPUP end--->
    <!-- BEGIN: Vendor JS-->
    @*<script src="~/Content/assets/vendors/js/vendors.min.js"></script>
        <script src="~/Content/assets/vendors/js/tables/datatable/datatables.min.js"></script>*@
    <!-- BEGIN Vendor JS-->
    <!-- BEGIN: Page Vendor JS-->
    @*<script src="~/Content/assets/vendors/js/charts/raphael-min.js"></script>
        <script src="~/Content/assets/vendors/js/charts/morris.min.js"></script>
        <script src="~/Content/assets/vendors/js/extensions/unslider-min.js"></script>
        <script src="~/Content/assets/vendors/js/timeline/horizontal-timeline.js"></script>*@
    <!-- END: Page Vendor JS-->
    <!-- BEGIN: Theme JS-->
    @*<script src="~/Content/assets/js/core/app-menu.min.js"></script>
        <script src="~/Content/assets/js/core/app.min.js"></script>
        <script src="~/Content/assets/js/scripts/customizer.min.js"></script>
        <script src="~/Content/assets/js/scripts/tables/datatables/datatable-styling.min.js"></script>*@
    <!-- END: Theme JS-->
    <!-- BEGIN: Page JS-->
    @*<script src="~/Content/assets/js/scripts/pages/dashboard-ecommerce.min.js"></script>*@
    <!-- END: Page JS-->

</body>
</html>
