@model Lincoln.Admin.Web.Models.EmployeeViewModel

<div class="panel-body">
    <!--main content start-->
    <div class="row">
        <div class="col-lg-12">
            <!--PAGE CONTENT BEGINS-->
            <div class="modal-body">
                <div class="row">
                    <div class="form-group col-lg-6">
                        <label><b>Employee Code<span class="requiredstar">*</span></b></label>
                        <div class="position-relative has-icon-left">
                            @Html.TextBoxFor(a => a.EmployeeCode, new { @class = "form-control" })
                            <div class="form-control-position">
                                <i class="fa fa-book"></i>
                            </div>
                            <span id="EmployeeCodeVal" style="color:red;display:none" class="valClass"></span>
                        </div>
                    </div>
                    <div class="form-group col-lg-6">
                        <label><b>Employee Name <span class="requiredstar">*</span></b> </label>
                        <div class="position-relative has-icon-left">
                            @Html.TextBoxFor(a => a.EmployeeName, new { @class = "form-control" })
                            <div class="form-control-position">
                                <i class="fa fa-book"></i>
                            </div>
                            <span id="EmployeeNameVal" style="color:red;display:none" class="valClass"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-lg-6">
                        <label><b>UserName <span class="requiredstar">*</span></b> </label>
                        <div class="position-relative has-icon-left gt">
                            @Html.TextBoxFor(a => a.UserName, new { @class = "form-control",@readonly="readonly" })
                            <div class="form-control-position">
                                <i class="fa fa-book"></i>
                            </div>
                            <span id="UsernameVal" style="color:red;display:none" class="valClass"></span>
                        </div>
                    </div>
                    <div class="form-group col-lg-6">
                        <label><b>Password<span class="requiredstar">*</span></b> </label>
                        <div class="position-relative has-icon-left">
                            @Html.TextBoxFor(a => a.Password, new { @class = "form-control" })
                            <div class="form-control-position">
                                <i class="fa fa-book"></i>
                            </div>
                            <span id="PasswordVal" style="color:red;display:none" class="valClass"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-lg-6">
                        <label><b>EmailID<span class="requiredstar">*</span></b> </label>
                        <div class="position-relative has-icon-left">
                            @Html.TextBoxFor(a => a.EmailID, new { @class = "form-control" })
                            <div class="form-control-position">
                                <i class="fa fa-book"></i>
                            </div>
                            <span id="EmailIDVal" style="color:red;display:none" class="valClass"></span>
                        </div>
                    </div>

                    <div class="form-group col-lg-6">
                        <label><b>Mobile No<span class="requiredstar">*</span></b> </label>
                        <div class="position-relative has-icon-left">
                            @Html.TextBoxFor(a => a.MobileNo, new { @class = "form-control" })
                            <div class="form-control-position">
                                <i class="fa fa-book"></i>
                            </div>
                            <span id="MobileNoVal" style="color:red;display:none" class="valClass"></span>
                        </div>
                    </div>
                </div>


            </div>
            <div class="modal-footer">
                <button type="button" onclick="fnSaveEmployee(@Model.EmployeeID)" class="btn btn-primary">
                    <i class="fa fa-check-square-o"></i> Save
                </button>
            </div>
            <!--PAGE CONTENT ENDS-->
        </div>
    </div>
    <!--main contant end-->
</div>