

@model Lincoln.Admin.Web.Models.ExaminationNameViewModel
<style>

    .bootstrap-datetimepicker-widget .weekend {
        color: red;
    }
</style>

<div class="panel-body">
    <!--main content start-->
    <div class="row">
        <div class="col-lg-12">
            <!--PAGE CONTENT BEGINS-->
            <div class="modal-body">
                <div class="row">
                    <div class="form-group col-lg-6">
                        <div class="position-relative has-icon-left">
                            <label><b>Examination Name<span class="requiredstar">*</span></b> </label>
                            <div class="position-relative has-icon-left">
                                @Html.TextBoxFor(a => a.ExaminationName, new { @class = "form-control" })
                                <div class="form-control-position">
                                    <i class="fa fa-book"></i>
                                </div>
                                <span id="ExaminationNameVal" style="color:red;display:none" class="valClass"></span>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="form-group col-lg-6">
                        <label>Examination Start Date<span class="requiredstar">*</span> </label>
                        <div class="position-relative has-icon-left">
                            @Html.TextBoxFor(a => a.StartDate, new { @class = "form-control" })
                            <div class="form-control-position">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <span id="StartDateVal" style="color:red;display:none" class="valClass"></span>
                        </div>
                    </div>
                    <div class="form-group col-lg-6">
                        <label>Examination End Date<span class="requiredstar">*</span> </label>
                        <div class="position-relative has-icon-left">
                            @Html.TextBoxFor(a => a.EndDate, new { @class = "form-control" })
                            <div class="form-control-position">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <span id="EndDateVal" style="color:red;display:none" class="valClass"></span>
                        </div>
                    </div>
                    @*<div class="form-group col-lg-6">
                            <label>Examination Start Time: </label>
                            <div class="position-relative has-icon-left">
                                @Html.TextBoxFor(a => a.StartTime, new { @type = "time", @class = "form-control" })
                                <div class="form-control-position">
                                    <i class="ft-clock"></i>
                                </div>
                            </div>
                        </div>*@
                </div>
                @*<div class="row">
                        <div class="form-group col-lg-6">
                            <label>Examination End Date: </label>
                            <div class="position-relative has-icon-left">
                                @Html.TextBoxFor(a => a.EndDate, new { @type = "date", @class = "form-control" })
                                <div class="form-control-position">
                                    <i class="fa fa-calendar"></i>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-lg-6">
                            <label>Examination End Time: </label>
                            <div class="position-relative has-icon-left">
                                @Html.TextBoxFor(a => a.EndTime, new { @type = "time", @class = "form-control" })
                                <i class="ft-clock"></i>
                            </div>
                        </div>

                    </div>*@

            </div>
            <div class="modal-footer">
                <button type="button" onclick="fnSaveExaminationName(@Model.ExaminationNameID)" class="btn btn-primary">
                    <i class="fa fa-check-square-o"></i> Save
                </button>
            </div>
            <!--PAGE CONTENT ENDS-->
        </div>
    </div>
    <!--main contant end-->
</div>
<script>

    $(document).on("focus", "#StartDate,#EndDate", function () {
        $('#StartDate').datetimepicker({
            format: 'DD/MM/YYYY',
            minDate: moment()
        });
        debugger;
        $('#EndDate').datetimepicker({
            format: 'DD/MM/YYYY',
            minDate:new Date(convertInputtoDate()).format('MM/dd/YYYY')
        });
    });

    function convertInputtoDate() {
        debugger;
        var input = $("#StartDate").datetimepicker().val();
       //var gft =  $("#StartDate").datetimepicker.formatDate('MM/dd/YYYY', input);
        //var gft = input.Date('MM/dd/YYYY');
        var date = input.split('/');
        var selectdate = new Date(date[2], date[1], date[0]);

        return selectdate;
    }


</script>