
@model Lincoln.Admin.Web.Models.AssessmentViewModel

<div class="panel-body">
    <!--main content start-->
    <div class="row">
        <div class="col-lg-12">
            <!--PAGE CONTENT BEGINS-->
            <div class="modal-body">
                <div class="row">
                    <div class="form-group col-lg-6">
                        <label><b>MQF Level <span class="requiredstar">*</span> </b></label>
                        <div class="position-relative has-icon-left">
                            @Html.DropDownListFor(a => a.AcademicID, Model.AcademicList, "Select MQF Level", new { @class = "custom-select block" })
                            <span id="AcademicIDVal" style="color:red;display:none" class="valClass">Please select MQF Level.</span>

                        </div>
                    </div>
                    <div class="form-group col-lg-6">
                        <label><b>Faculty<span class="requiredstar">*</span></b></label>
                        <div class="position-relative has-icon-left">
                            @Html.DropDownListFor(a => a.DepartmentID, Model.DepartmentList, "Select Faculty", new { @class = "custom-select block" })
                            <span id="FacultyCodeVal" style="color:red;display:none" class="valClass">Please select Faculty.</span>
                        </div>
                    </div>
                    <div class="form-group col-lg-6">
                        <label><b>Programme <span class="requiredstar">*</span> </b></label>
                        <div class="position-relative ">
                            @Html.DropDownListFor(a => a.ProgramVersioningID, Model.ProgramList, "Select Program ", new { @class = "custom-select block" })
                            <span id="ProgramCodeVal" style="color:red;display:none" class="valClass">Please select programme.</span>
                        </div>
                    </div>

                    <div class="form-group col-lg-6">
                        <label><b>Country <span class="requiredstar">*</span></b> </label>
                        @Html.DropDownListFor(a => a.CountryID, Model.CountryList, "Select Country", new { @class = "custom-select block" })
                        <span id="CountryIDVal" style="color:red;display:none" class="valClass">Please select Country.</span>
                    </div>
                    <div class="form-group col-lg-6">
                        <label><b>Assessment Name<span class="requiredstar">*</span></b> </label>
                        <div class="position-relative has-icon-left">
                            @Html.TextBoxFor(a => a.AssessmentName, new { @class = "form-control" })
                            <div class="form-control-position">
                                <i class="fa fa-book"></i>
                            </div>
                            <span id="AssessmentNameVal" style="color:red;display:none" class="valClass"></span>
                        </div>
                    </div>

                    <div class="form-group col-lg-6">
                        <label><b>Assessment Type<span class="requiredstar">*</span></b> </label>
                        <div class="position-relative has-icon-left">
                            <input type="radio" name="AssessmentType" value="Open" @(Model.AssessmentType == "Open" ? "checked" : "")> Open
                            <input type="radio" name="AssessmentType" value="Close" @(Model.AssessmentType == "Close" ? "checked" : "")> Close
                            <span id="AssessmentTypeVal" style="color:red;display:none" class="valClass"> Please select Assessment Type </span>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" onclick="fnSaveAssessment(@Model.AssessmentID)" class="btn btn-primary">
                    <i class="fa fa-check-square-o"></i> Save
                </button>
            </div>
            <!--PAGE CONTENT ENDS-->
        </div>
    </div>
    <!--main contant end-->
</div>

<script>
   $(document).on("change","#AcademicID",function () {
       $("#DepartmentID").empty().append('<option value="">Select Faculty</option>');
        $.ajax({
            type: 'POST',
            url: '@Url.Action("GetDepartmentDrop","Admin",new { area="Admin"})', // we are calling json method

            dataType: 'json',

            data: { academicID: $("#AcademicID").val() != '' ? $("#AcademicID").val() : "0" },
            success: function (res) {
                
                $.each(res, function (i, state) {
                    $("#DepartmentID").append('<option value="' + state.Value + '">' +
                         state.Text + '</option>');
                    // here we are adding option for States

                });
            },
            error: function (ex) {
                alert('Failed to retrieve Faculty.' + ex);
            }
        });
        return false;
    })
    $(document).on("change", "#DepartmentID", function () {
        $("#ProgramVersioningID").empty().append('<option value="">Select Programme</option>');
        $("#SyllabusVersion").empty().append('<option value="">Select Syllabus version</option>');
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetProgDropWithVersion","Admin",new { area="Admin"})',
                dataType: 'json',
                data: { departmentID: $("#DepartmentID").val() != '' ? $("#DepartmentID").val() : "0" },
                success: function (res) {
                    $.each(res, function (i, state) {
                        $("#ProgramVersioningID").append('<option value="' + state.Value + '">' +
                            state.Text + '</option>');
                    });
                },
                error: function (ex) {
                    alert('Failed to retrieve Faculty.' + ex);
                }
            });
            return false;
        });


    $(document).on("change", "#ProgramVersioningID", function () {
        $("#SyllabusVersion").empty().append('<option value="">Select Syllabus version</option>');
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("GetProgrammeVersionDDL","Admin",new { area="Admin"})',
                    dataType: 'json',
                    data: { ProgramVID: $("#ProgrammeID").val() != '' ? $("#ProgrammeID").val() : "0" },
                    success: function (res) {
                        $.each(res, function (i, state) {
                            $("#SyllabusVersion").append('<option value="' + state.Value + '">' +
                                state.Text + '</option>');
                        });
                    },
                    error: function (ex) {
                        alert('Failed to retrieve Version.' + ex);
                    }
                });
          
            return false;
        });


</script>

