
@model Lincoln.Admin.Web.Models.ExaminationSectionViewModel

<div class="panel-body">
    <!--main content start-->
    <div class="row">
        <div class="col-lg-12">
            <!--PAGE CONTENT BEGINS-->
            <div class="modal-body">
                <div class="row">
                    <div class="form-group col-lg-6">
                        <label><b>Faculty <span class="requiredstar">*</span> </b></label>
                        <div class="position-relative has-icon-left">
                            @Html.DropDownListFor(a => a.FacultyCode, Model.FacultyList, "Select Faculty", new { @class = "custom-select block" })
                            <span id="FacultyCodeVal" style="color:red;display:none" class="valClass">Please select Faculty.</span>
                        </div>
                    </div>
                    <div class="form-group col-lg-6">
                        <label><b>Programme <span class="requiredstar">*</span> </b></label>
                        <div class="position-relative has-icon-left">
                            @Html.DropDownListFor(a => a.ProgramCode, Model.ProgramList, "Select Programme Level", new { @class = "custom-select block" })
                            <span id="ProgramCodeVal" style="color:red;display:none" class="valClass">Please select Programme.</span>
                        </div>
                    </div>
                    <div class="form-group col-lg-6">
                        <label><b>Version<span class="requiredstar">*</span> </b></label>
                        <div class="position-relative has-icon-left">
                            @Html.DropDownListFor(a => a.SyllabusVersionCode, Model.SyllabusVersionList, "Select Programme Versioning", new { @class = "custom-select block" })
                            <span id="SyllabusVersionCodeVal" style="color:red;display:none" class="valClass">Please select Version.</span>
                        </div>
                    </div>
                    <div class="form-group col-lg-6">
                        <label><b>Country: </b></label>
                        <div class="position-relative has-icon-left">
                            @Html.DropDownListFor(a => a.CountryCode, Model.CountryList, "Select Country", new { @class = "custom-select block" })
                            <span id="CountryCodeVal" style="color:red;display:none" class="valClass">Please select Country.</span>
                        </div>
                    </div>
                    <div class="form-group col-lg-6">
                        <label><b>Academic Year<span class="requiredstar">*</span> </b></label>
                        <div class="position-relative has-icon-left">
                            @Html.DropDownListFor(a => a.AcademicYearCode, Model.AcademicYearList, "Select Academic Year", new { @class = "custom-select block" })
                            <span id="AcademicYearCodeVal" style="color:red;display:none" class="valClass">Please select Year.</span>
                        </div>
                    </div>
                    <div class="form-group col-lg-6">
                        <label><b>Semester<span class="requiredstar">*</span> </b></label>
                        <div class="position-relative has-icon-left">
                            @Html.DropDownListFor(a => a.SemisterCode, Model.SemisterList, "Select Semester", new { @class = "custom-select block" })
                            <span id="SemisterCodeVal" style="color:red;display:none" class="valClass">Please select Semester.</span>
                        </div>
                    </div>
                    <div class="form-group col-lg-6">
                        <label><b>Course<span class="requiredstar">*</span> </b></label>
                        <div class="position-relative has-icon-left">
                            @Html.DropDownListFor(a => a.CourseID, Model.CourseList, "Select Course", new { @class = "custom-select block" })
                            <span id="CourseIDVal" style="color:red;display:none" class="valClass">Please select Course.</span>
                        </div>
                    </div>

                    <div class="form-group col-lg-6">
                        <label><b>Section<span class="requiredstar">*</span> </b></label>
                        <div class="position-relative has-icon-left">
                            @Html.DropDownListFor(a => a.SectionID, Model.SectionList, "Select Section", new { @class = "custom-select block" })
                            <input type="hidden" id="Section" value="" />
                            <span id="SectionIDVal" style="color:red;display:none" class="valClass">Please select Section.</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" onclick="fnSaveExaminationSection(@Model.ExaminationSectionID)" class="btn btn-primary">
                    <i class="fa fa-check-square-o"></i> Save
                </button>
            </div>
            <!--PAGE CONTENT ENDS-->
        </div>
    </div>
    <!--main contant end-->
</div>

<script>

    $(document).on("change","#FacultyCode",function () {
        $("#ProgramCode").empty();
        $.ajax({
            type: 'POST',
            url: '@Url.Action("GetProgDrop","Admin",new { area="Admin"})', // we are calling json method

            dataType: 'json',

            data: { departmentID: $("#FacultyCode").val() },
            success: function (res) {
                $('#ProgramCode').append(new Option("Select Programme Level", 0))
                $.each(res, function (i, state) {
                    $("#ProgramCode").append('<option value="' + state.Value + '">' +
                        state.Text + '</option>');
                });
            },
            error: function (ex) {
                alert('Failed to retrieve Faculty.' + ex);
            }
        });
        return false;
    });


    $(document).on("change","#ProgramCode",function () {
        $("#SyllabusVersionCode").empty();
        $.ajax({
            type: 'POST',
            url: '@Url.Action("GetProgrammeVersionDDL","Admin",new { area="Admin"})', // we are calling json method

            dataType: 'json',

            data: { ProgramVID: $("#ProgramCode").val() },
            success: function (res) {
                $('#SyllabusVersionCode').append(new Option("Select Programme Version", 0))
                $.each(res, function (i, state) {
                    $("#SyllabusVersionCode").append('<option value="' + state.Value + '">' +
                        state.Text + '</option>');
                });
            },
            error: function (ex) {
                alert('Failed to retrieve Version.' + ex);
            }
        });
        return false;
    });


    $(document).on("change","#SemisterCode",function () {
        $("#CourseCode").empty();
        $.ajax({
            type: 'POST',
            url: '@Url.Action("GetCourseDDL","Admin",new { area="Admin"})',
            dataType: 'json',
            data: { SemisterID: 5 },
            success: function (res) {
                debugger;
                $('#CourseID').append(new Option("Select Course", 0))
                $.each(res, function (i, state) {
                    debugger;
                    $("#CourseID").append('<option value="' + state.Value + '">' +
                        state.Text + '</option>');
                });
            },
            error: function (ex) {
                alert('Failed to retrieve Course.' + ex);
            }
        });
        return false;
    });

</script>