
@model Lincoln.Admin.Web.Models.SubjectAllocationViewModel
@{
    var p = 0;
    var q = 0;
}

<table cellpadding="0" id="Grid" cellspacing="0" class="table table-striped table-bordered base-style Grid" style="width:100%">
    <tr>
        <th></th>
        <th>SL.NO</th>
        <th>Semester</th>
    </tr>
    @foreach (var item in Model.SubAllocationList)
    {
        p = p + 1;
        <tr class="ctr">
            <td>
               
                <img src="~/Content/assets/images/plus.png" />
                <div style="display:none">
                    <table cellpadding="0" cellspacing="0" class="ChildGrid">
                        <thead>
                            <tr>
                                <th>SL.NO</th>
                                <th>Course</th>
                                <th>Allocate</th>
                            </tr>
                        </thead>
                        <tbody class="dTbody">
                            @foreach (var item2 in Model.AllocationList?.SubAllocationDetailsList.Where(a=>a.ProgrammeSemesterID==item.SemisterID))
                            {
                                q = q + 1;
                                <tr>
                                    <td>
                                        <label>@q </label>
                                    </td>
                                    <td>
                                        @Html.HiddenFor(a => item2.CourseID)
                                        <label id="CourseName" name="CourseName[]" value="@item2.CourseID">@item2.CourseName</label>
                                    </td>
                                    <td>
                                        <input type="checkbox" id="Allocation-@item2.ProgrammeSemesterID-@item2.CourseID" onchange="fnChange(this)" name="OpenClose" value="@(item2.Allocation == "A" ? "true" : "false")"
                                               @(item2.Allocation == "A" ? "checked=\"checked\"" : "") />
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </td>
            <td>
                <label id="SL.NO">
                    @p
                </label>

            </td>
            <td>
                @Html.HiddenFor(a => item.SemisterID)
                <label id="SemesterName" name="SemesterName[]" value="@item.SemisterID">@item.SemisterName</label>
            </td>
        </tr>
    }
</table>
