@model IEnumerable<Lincoln.Admin.Web.Models.StudentViewModel>
@{

    int sl = 1;
}

<table class="cell-border stripe" id="dataTables-example" style="width:100%">
    <thead>
        <tr>
            <th>SLNO</th>
            <th>STUDENT CODE</th>
            <th>BATCH NAME</th>
            <th>STUDENT NAME</th>
            <th>ROLL NO</th>
            <th>MOBILE NO</th>
            <th>EMAIL ID</th>
            <th>STATUS</th>
            <th>ACTION</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Count() > 0)
        {


            foreach (var item in Model)
            {
                <tr>
                    <td>@sl</td>
                    <td>@item.StudentID</td>
                    <td>@item.BatchID</td>
                    <td>@item.StudentName</td>
                    <td>@item.RollNo</td>
                    <td>@item.MobileNo</td>
                    <td>@item.EmailID</td>
                    <td>@item.Status</td>
                    <td>
                        <a href="javascript:void(0);" onclick="fnViewStudent(@item.StudentID)" title="View"><i class="fa fa-eye"></i></a> &nbsp;
                        <a href="javascript:void(0);" onclick="fnAddStudent(@item.StudentID)" title="Edit"><i class="fa fa-edit"></i></a> &nbsp;
                        <a href="javascript:void(0);" onclick="fnDeleteStudent(@item.StudentID)" title="Delete"><i class="fa fa-trash"></i></a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
<script>
 $(document).ready(function () {
        $('#dataTables-example').dataTable();
    });</script>