@model IEnumerable<Lincoln.Admin.Web.Models.CourseViewModel>
@{

    int sl = 1;
}
<table class="cell-border stripe" id="dataTables-example" style="width:100%">
    <thead>
        <tr>
            <th>SLNO</th>
            <th>CHECK</th>
            <th>COURSE CODE</th>
            <th>COURSE NAME</th>
            <th>STATUS</th>
            <th>ACTION</th>
        </tr>
    </thead>
    <tbody>

        @if (Model != null && Model.Count() > 0)
        {


            foreach (var item in Model)
            {
                <tr>
                    <td>@sl</td>
                    <td>
                        <center>
                            <input type="checkbox" onclick="fnChangeStatus(@item.CourseID,'@(item.Status=="A"?"I":"A")')" @(item.Status == "A" ? "checked" : "")>
                        </center>
                    </td>

                    <td>@item.CourseCode</td>
                    <td>@item.CourseName</td>
                    <td>@item.Status</td>
                    <td>
                        <a href="javascript:void(0);" onclick="fnViewCourse(@item.CourseID)" title="View"><i class="fa fa-eye"></i></a> &nbsp;
                        <a href="javascript:void(0);" onclick="fnAddCourse(@item.CourseID)" title="Edit"><i class="fa fa-edit"></i></a> &nbsp;
                        <a href="javascript:void(0);" onclick="fnDeleteCourse(@item.CourseID)" title="Delete"><i class="fa fa-trash"></i></a>
                    </td>
                </tr>
                sl++;
            }
        }



    </tbody>
</table>
<script>
     $(document).ready(function () {
        $('#dataTables-example').dataTable();
    });
</script>