@model IEnumerable<Lincoln.Admin.Web.Models.SubjectViewModel>
@{

    int sl = 1;
}
<table class="cell-border stripe" id="dataTables-example" style="width:100%">
    <thead>
        <tr>

            <th>#</th>
            <th>Check</th>
            <th>Subject Code</th>
            <th>Subject Name</th>
            <th>Status</th>
            <th>Action</th>

        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Count() > 0)
        {

            foreach (var item in Model)
            {
                <tr>
                    <td>@sl</td>
                    <td>
                        <center>
                            <input type="checkbox" onclick="fnChangeStatus(@item.SubjectID,'@(item.Status=="A"?"I":"A")')" @(item.Status == "A" ? "checked" : "")>
                        </center>
                    </td>

                    <td>@item.SubjectCode</td>
                    <td>@item.SubjectName</td>
                    <td>@(item.Status)</td>

                    <td>
                        <a href="javascript:void(0);" onclick="fnViewSubject(@item.SubjectID)" title="View"><i class="fa fa-eye"></i></a> &nbsp;
                        <a href="javascript:void(0);" onclick="fnAddSubject(@item.SubjectID)" title="Edit"><i class="fa fa-edit"></i></a> &nbsp;
                        <a href="javascript:void(0);" onclick="fnDeleteSubject(@item.SubjectID)" title="Delete"><i class="fa fa-trash"></i></a>
                    </td>
                </tr>
                sl++;
            }

        }


    </tbody>
</table>
<script>
    $('#dataTables-example').dataTable({
        dom: 'Bfrtip', buttons: [
       'copy', 'excel', 'pdf', 'print'
        ]});</script>