@model IEnumerable<Lincoln.Admin.Web.Models.SubjectViewModel>
@{

    int sl = 1;
}
<table class="cell-border stripe" id="dataTables-example" style="width:100%">
    <thead>
        <tr>

            <th>#</th>
            <th>Subject Code</th>
            <th>Subject Name</th>
            <th>Status</th>
            <th>Created On</th>
            <th>Action</th>

        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Count() > 0)
        {

            foreach (var item in Model)
            {
                <tr>
                    <td>@sl</td>
                    <td>@item.SubjectCode</td>
                    <td>@item.SubjectName</td>
                    <td>@(item.Status)</td>
                    <td>@Convert.ToDateTime(item.CreatedOn).ToString("dd/MM/yyyy")</td>
                    <td>
                        <a href="javascript:void(0);" onclick="fnViewSubject(@item.SubjectID)" title="View"><i class="fa fa-eye"></i></a> &nbsp;
                        <a href="javascript:void(0);" onclick="fnAddSubject(@item.SubjectID)" title="Edit"><i class="fa fa-edit"></i></a> &nbsp;
                        <a href="javascript:void(0);" onclick="fnDeleteSubject(@item.SubjectID)" title="Delete"><i class="fa fa-trash"></i></a>
                    </td>
                </tr>
                sl++;
            }

        }


    </tbody>
</table>
<script>
 $(document).ready(function () {
        $('#dataTables-example').dataTable();
    });</script>