@using Lincoln.Admin.Web.Models;

@*@model Lincoln.Admin.Web.Models.SubjectAssessmentViewModel*@
@model  Lincoln.Admin.Web.Models.SubjectAllocationViewModel
@{
    var p = 0;
    var q = 0;
}
<div class="panel-body">
    <!--main content start-->
    <div class="row">
        <div class="col-lg-12">
            <!--PAGE CONTENT BEGINS-->
            <div class="modal-body">
                <div class="row">
                    <div class="form-group col-lg-6">
                        <label><b>Faculty Name: </b></label>
                        @Html.DisplayFor(a => a.FacultyName, new { @class = "form-control" })
                    </div>

                    <div class="form-group col-lg-6">
                        <label><b>Programme: </b></label>
                        @Html.DisplayFor(a => a.ProgramName, new { @class = "form-control" })
                    </div>

                </div>
                <div class="row">
                    <div class="form-group col-lg-6">
                        <label><b>Programme Version:</b> </label>
                        @Html.DisplayFor(a => a.SyllabusVersionName, new { @class = "form-control" })
                    </div>
                    <div class="form-group col-lg-6">
                        <label><b>Country:</b> </label>
                        @Html.DisplayFor(a => a.CountryName, new { @class = "form-control" })
                    </div>

                </div>
                <div class="row">
                    @*<div class="form-group col-lg-6">
                            <label><b>Programme Year:</b> </label>
                            @Html.DisplayFor(a => a.AcademicYearCode, new { @class = "form-control" })
                        </div>
                        <div class="form-group col-lg-6">
                            <label><b>Semester:</b> </label>
                            @Html.DisplayFor(a => a.SemisterName, new { @class = "form-control" })
                        </div>
                        <div class="form-group col-lg-6">
                            <label><b>Course: </b></label>
                            @Html.DisplayFor(a => a.CourseName, new { @class = "form-control" })
                        </div>*@
                </div>

                <table cellpadding="0" cellspacing="0" class="">
                    <tr>
                        <th></th>
                        <th>SL.NO</th>
                        <th>Semester</th>
                        <th>City</th>
                    </tr>
                    @foreach (var item in Model.SubAllocationList)
                    {
                        p = p + 1;
                        <tr>
                            <td>
                                @*<img src="~/Images/plus.png" />*@
                                <img src="~/Content/assets/images/plus.png" />
                                <div style="display:block">
                                    <table cellpadding="0" cellspacing="0" class="">
                                        <tr>
                                            <th>SL.NO</th>
                                            <th>Course</th>
                                            <th>Allocate</th>
                                        </tr>
                                        @foreach (var item2 in Model.AllocationList?.SubAllocationDetailsList?.Where(a => a.ProgrammeSemesterID == item.SemisterID))
                                        {
                                            if (@item.SemisterID == item2.ProgrammeSemesterID)
                                            {
                                                q = q + 1;
                                                <tr>
                                                    <td>
                                                        <label>@q </label>
                                                    </td>
                                                    <td>
                                                        <label id="CourseName" name="CourseName[]" value="@item2.CourseID">@item2.CourseName</label>
                                                    </td>
                                                    <td><input type="checkbox" id="OpenClose" name="OpenClose" value="OpenClose" @(item2.Allocation == 1 ? "checked" : "") /></td>
                                                </tr>
                                            }
                                        }
                                    </table>
                                </div>
                            </td>
                            <td>
                                <label id="SL.NO">
                                    @p
                                </label>

                            </td>
                            <td>
                                <label id="SemesterName" name="SemesterName[]" value="@item.SemisterID">@item.SemisterName</label>
                            </td>
                            <td>Kolkata</td>
                        </tr>
                    }
                </table>


            </div>
        </div>
        <!--PAGE CONTENT ENDS-->
    </div>
</div>
<!--main contant end-->
