

@model Lincoln.Admin.Web.Models.SubjectAssessmentViewModel

<div class="panel-body">
    <!--main content start-->
    <div class="row">
        <div class="col-lg-12">
            <!--PAGE CONTENT BEGINS-->
            <div class="modal-body">
                <div class="row">
                    <div class="form-group col-lg-6">
                        <label><b>Version:</b> </label>
                       
                            @Html.DisplayFor(a => a.SemisterName, new { @class = "form-control" })

                       
                    </div>
                    <div class="form-group col-lg-6">
                        <label><b>Faculty: </b></label>
                        @Html.DisplayFor(a => a.CourseName, new { @class = "form-control" })


                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-lg-12">
                        <label><b>Program: </b></label>
                        
                            @Html.DisplayFor(a => a.ProgramName, new { @class = "form-control" })

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-lg-6">
                        <label><b>Place Holder: </b></label>
                      
                            @Html.DisplayFor(a => a.FacultyName, new { @class = "form-control" })

                       
                    </div>
                    <div class="form-group col-lg-6">
                        <label><b>Credit:</b> </label>
                      
                            @Html.DisplayFor(a => a.SyllabusVersionName, new { @placeholder = "Syllabus Version", @class = "form-control" })

                      
                    </div>
                    <div class="form-group col-lg-6">
                        <label><b>Credit:</b> </label>
                      
                            @Html.DisplayFor(a => a.YearName, new { @placeholder = "Syllabus Version", @class = "form-control" })

                    </div>
                    <div class="form-group col-lg-6">
                        <label><b>Credit:</b> </label>
                       
                            @Html.DisplayFor(a => a.CountryName, new { @placeholder = "Syllabus Version", @class = "form-control" })

                      
                    </div>
                </div>

            </div>
            <div class="modal-footer">

            </div>
            <!--PAGE CONTENT ENDS-->
        </div>
    </div>
    <!--main contant end-->
</div>