@model Lincoln.Admin.Web.Models.ProgrammeViewModel
<div class="panel-body">
    <!--main content start-->
    <div class="row">
        <div class="col-lg-12">
            <!--PAGE CONTENT BEGINS-->
            <div class="modal-body">
                <div class="row">
                    <div class="form-group col-lg-6">
                        <label><b>Academic Name: </b></label>

                        @Html.DisplayFor(a => a.AcademicName, new { @class = "form-control" })


                    </div>
                    <div class="form-group col-lg-6">
                        <label><b>Faculty Name:</b> </label>

                        @Html.DisplayFor(a => a.DepartmentName, new { @class = "form-control" })



                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-lg-6">
                        <label><b>Programme Code:</b> </label>


                        @Html.DisplayFor(a => a.ProgrammeCode, new { @class = "form-control" })
                    </div>
                    <div class="form-group col-lg-6">
                        <label><b>Programme Name:</b> </label>


                        @Html.DisplayFor(a => a.ProgrammeName, new { @class = "form-control" })

                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-lg-6">
                        <label><b>Approval No:</b> </label>


                        @Html.DisplayFor(a => a.ApprovalNo, new { @class = "form-control" })
                    </div>
                    <div class="form-group col-lg-6">
                        <label><b>Credit:</b> </label>


                        @Html.DisplayFor(a => a.Credit, new { @class = "form-control" })

                    </div>
                </div>
            </div>

            <!--PAGE CONTENT ENDS-->
        </div>
    </div>
    <!--main contant end-->
</div>
