

@model Lincoln.Admin.Web.Models.SubjectAssessmentViewModel

<div class="panel-body">
    <!--main content start-->
    <div class="row">
        <div class="col-lg-12">
            <!--PAGE CONTENT BEGINS-->
            <div class="modal-body">
                <div class="row">
                    <div class="form-group col-lg-6">
                        <label><b>Faculty Name: </b></label>
                        @Html.DisplayFor(a => a.FacultyName, new { @class = "form-control" })
                    </div>

                    <div class="form-group col-lg-6">
                        <label><b>Program: </b></label>
                        @Html.DisplayFor(a => a.ProgramName, new { @class = "form-control" })
                    </div>

                </div>
                <div class="row">
                    <div class="form-group col-lg-6">
                        <label><b>Programme Version:</b> </label>
                        @Html.DisplayFor(a => a.SyllabusVersionName, new { @class = "form-control" })
                    </div>
                    <div class="form-group col-lg-6">
                        <label><b>Programme Year:</b> </label>
                        @Html.DisplayFor(a => a.AcademicYearCode, new { @class = "form-control" })
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-lg-6">
                        <label><b>Country Name:</b> </label>
                        @Html.DisplayFor(a => a.CountryName, new { @class = "form-control" })
                    </div>
                    <div class="form-group col-lg-6">
                        <label><b>Semister:</b> </label>
                        @Html.DisplayFor(a => a.SemisterName, new { @class = "form-control" })
                    </div>
                    <div class="form-group col-lg-6">
                        <label><b>Faculty: </b></label>
                        @Html.DisplayFor(a => a.CourseName, new { @class = "form-control" })
                    </div>
                </div>


                @foreach (var item in Model.SubAssessmentDetails)
                {
                    <div class="row">
                        <div class="form-group col-lg-3">
                            <label><b>Assessment Name <span class="requiredstar">*</span> </b></label>
                            <div class="position-relative has-icon-left">
                                <label>@item.AssessmentName</label>

                            </div>
                        </div>
                        <div class="form-group col-lg-3">
                            <label><b>Assessment %<span class="requiredstar">*</span> </b></label>
                            <div class="position-relative has-icon-left">
                                <label>@item.AssessmentPercentage</label>

                            </div>
                        </div>
                        <div class="form-group col-lg-3">
                            <label><b>Full Marks<span class="requiredstar">*</span> </b></label>
                            <div class="position-relative has-icon-left">
                                <label>@item.FullMarks</label>

                            </div>
                        </div>
                        <div class="form-group col-lg-3">
                            <label><b>Assessment Type <span class="requiredstar">*</span> </b></label>
                            <div class="position-relative has-icon-left">
                                <label>@item.AssessmentType</label>

                            </div>
                        </div>
                        <div class="form-group col-lg-2">
                            <label><b>Open/Close<span class="requiredstar">*</span> </b></label>
                            <div class="position-relative has-icon-left">
                                <label>@item.OpenClose</label>

                            </div>
                        </div>
                    </div>
                }
            </div>


        </div>
        <div class="modal-footer">

        </div>
        <!--PAGE CONTENT ENDS-->
    </div>
</div>
<!--main contant end-->
