@using Lincoln.OnlineExam.Response;

@*@model Lincoln.Admin.Web.Models.SubjectAssessmentViewModel*@
@model Lincoln.OnlineExam.Response.SubjectAssessmentResponseDTO

<div class="panel-body">
    <!--main content start-->
    <div class="row">
        <div class="col-lg-12">
            <!--PAGE CONTENT BEGINS-->
            <div class="modal-body">
                <div class="row">
                    <div class="form-group col-lg-6">
                        <label><b>Faculty Name: </b></label>
                        @Html.DisplayFor(a => a.FacultyName, new { @class = "form-control" })
                    </div>

                    <div class="form-group col-lg-6">
                        <label><b>Programme: </b></label>
                        @Html.DisplayFor(a => a.ProgramName, new { @class = "form-control" })
                    </div>

                </div>
                <div class="row">
                    <div class="form-group col-lg-6">
                        <label><b>Syllabus Version:</b> </label>
                        @Html.DisplayFor(a => a.SyllabusVersionName, new { @class = "form-control" })
                    </div>
                    <div class="form-group col-lg-6">
                        <label><b>Country:</b> </label>
                        @Html.DisplayFor(a => a.CountryName, new { @class = "form-control" })
                    </div>

                </div>
                <div class="row">
                    <div class="form-group col-lg-6">
                        <label><b>Programme Year:</b> </label>
                        @Html.DisplayFor(a => a.AcademicYearCode, new { @class = "form-control" })
                    </div>
                    <div class="form-group col-lg-6">
                        <label><b>Semester:</b> </label>
                        @Html.DisplayFor(a => a.SemisterName, new { @class = "form-control" })
                    </div>
                    <div class="form-group col-lg-6">
                        <label><b>Course: </b></label>
                        @Html.DisplayFor(a => a.CourseName, new { @class = "form-control" })
                    </div>
                </div>

                <table border="1">
                    <thead>
                        <tr>
                            <th>Assessment</th>
                            <th>Percentage %</th>
                            <th>Full Marks</th>
                            <th>Type</th>
                            <th>Open/Close</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.SubAssessmentDetails.Any())
                        {
                            foreach (var item in Model.SubAssessmentDetails)
                            {
                                <tr>
                                    <td>@item.AssessmentName</td>
                                    <td>@item.AssessmentPercentage</td>
                                    <td>@item.FullMarks</td>
                                    <td>@item.AssessmentType</td>
                                    <td>@(item.OpenClose==1?"Open":"Close")</td>

                                </tr>
                            }
                        }

                    </tbody>
                </table>


            </div>
        </div>
        <!--PAGE CONTENT ENDS-->
    </div>
</div>
<!--main contant end-->
