

@model Lincoln.Admin.Web.Models.AssessmentViewModel

<div class="panel-body">
    <!--main content start-->
    <div class="row">
        <div class="col-lg-12">
            <!--PAGE CONTENT BEGINS-->
            <div class="modal-body">
                <div class="row">                    
                    <div class="form-group col-lg-12">
                        <label><b>Faculty: </b></label>
                        @Html.DisplayFor(a => a.FacultyName, new { @class = "form-control" })
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-lg-6">
                        <label><b>Program: </b></label>
                        @Html.DisplayFor(a => a.ProgramName, new { @class = "form-control" })
                    </div>
                    <div class="form-group col-lg-6">
                        <label><b>Program Version:</b> </label>
                        @Html.DisplayFor(a => a.SyllabusVersionName, new { @placeholder = "Mobile No", @class = "form-control" })
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-lg-6">
                        <label><b>Assessment Name: </b></label>                       
                            @Html.DisplayFor(a => a.AssessmentName, new { @class = "form-control" })
                    </div>
                    <div class="form-group col-lg-6">
                        <label><b>Assessment Type: </b></label>
                        @Html.DisplayFor(a => a.AssessmentType, new { @class = "form-control" })
                    </div>
                </div>

            </div>
            <div class="modal-footer">

            </div>
            <!--PAGE CONTENT ENDS-->
        </div>
    </div>
    <!--main contant end-->
</div>