

@model Lincoln.Admin.Web.Models.ExaminationSectionViewModel

<div class="panel-body">
    <!--main content start-->
    <div class="row">
        <div class="col-lg-12">
            <!--PAGE CONTENT BEGINS-->
            <div class="modal-body">
                <div class="row">
                    <div class="form-group col-lg-6">
                        <label><b>MQF Level: </b></label>

                        @Html.DisplayFor(a => a.AcademicName, new { @class = "form-control" })

                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-lg-6">
                        <label><b>Faculty: </b></label>
                        @Html.DisplayFor(a => a.FacultyName, new { @class = "form-control" })
                    </div>
                    <div class="form-group col-lg-12">
                        <label><b>Program: </b></label>
                        <span>@Model.ProgramName (@Model.Version)</span>
                    </div>
                </div>
                <div class="row">

                    <div class="form-group col-lg-6">
                        <label><b>Course:</b> </label>
                        @Html.DisplayFor(a => a.CourseName, new { @class = "form-control" })
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-lg-6">
                        <label><b>Programme Year:</b> </label>
                        @Html.DisplayFor(a => a.AcademicYearCode, new { @class = "form-control" })
                    </div>

                    <div class="form-group col-lg-6">
                        <label><b>Section:</b> </label>
                        @Html.DisplayFor(a => a.SectionName, new { @class = "form-control" })
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-lg-6">
                        <label><b>Question Type:</b> </label>
                        <span>@(Model.QuestionType == "S" ? "Subjective" : "Objective")</span>
                    </div>

                    <div class="form-group col-lg-6">
                        <label><b>Maximum Marks:</b> </label>
                        @Html.DisplayFor(a => a.MaximumMarks, new { @class = "form-control" })
                    </div>
                </div>
            </div>
            <div class="modal-footer">

            </div>
            <!--PAGE CONTENT ENDS-->
        </div>
    </div>
    <!--main contant end-->
</div>