@model Lincoln.Admin.Web.Models.AdminOnlineExaminationViewModel
@{
    ViewBag.Title = "Online Examination Application";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayoutPage.cshtml";
}
<div class="content-body">
    <div class="row">
        <div class="form-group col-lg-6">
            <label><b>MQF Level <span class="requiredstar">*</span> </b></label>
            <div class="position-relative has-icon-left">
                @Html.DropDownListFor(a => a.AcademicID, Model.AcademicList, "Select MQF Level", new { @class = "custom-select block" })
                <span id="AcademicIDVal" style="color:red;display:none" class="valClass">Please select MQF Level.</span>

            </div>
        </div>
        <div class="form-group col-lg-6">
            <label><b>Faculty<span class="requiredstar">*</span> </b></label>
            <div class="position-relative has-icon-left">
                @Html.DropDownListFor(a => a.DepartmentID, Model.DepartmentList, "Select Faculty", new { @class = "custom-select block" })
                <span id="FacultyCodeVal" style="color:red;display:none" class="valClass">Please select Faculty.</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-lg-6">
            <label><b>Programme<span class="requiredstar">*</span> </b></label>
            <div class="position-relative has-icon-left">
                @Html.DropDownListFor(a => a.ProgrammeVersioningID, Model.ProgramList, "Select Programme", new { @class = "custom-select block" })
                <span id="ProgramCodeVal" style="color:red;display:none" class="valClass">Please select Programme.</span>
            </div>
        </div>

        <div class="form-group col-lg-6">
            <label><b>Country<span class="requiredstar">*</span> </b></label>
            <div class="position-relative has-icon-left">
                @Html.DropDownListFor(a => a.CountryID, Model.CountryList, "Select Country", new { @class = "custom-select block" })
                <span id="CountryCodeVal" style="color:red;display:none" class="valClass">Please select Country.</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-lg-6">
            <label><b>Programme Year<span class="requiredstar">*</span> </b></label>
            <div class="position-relative has-icon-left">
                @Html.DropDownListFor(a => a.ProgrammeYear, Model.ProgYearList, "Select Programme Year", new { @class = "custom-select block" })
                <span id="AcademicYearCodeVal" style="color:red;display:none" class="valClass">Please select Year.</span>
            </div>
        </div>
        <div class="form-group col-lg-6">
            <label><b>Programme Semester<span class="requiredstar">*</span></b></label>
            <div class="position-relative has-icon-left">
                @Html.DropDownListFor(a => a.ProgrammeSemesterID, Model.SemisterList, "Select Semester", new { @class = "custom-select block" })
                <span id="SemisterCodeVal" style="color:red;display:none" class="valClass">Please select Semester.</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-lg-6">
            <label><b>Course<span class="requiredstar">*</span> </b></label>
            <div class="position-relative has-icon-left">
                @Html.DropDownListFor(a => a.CourseID, Model.CourseList, "Select Course", new { @class = "custom-select block" })
                <span id="CourseIDVal" style="color:red;display:none" class="valClass">Please select Course.</span>
            </div>
        </div>

    </div>

    <div id="StudentListDiv">


    </div>


    <button type="button" onclick="fnSaveOnlineExamApplication()" class="btn btn-primary">
        <i class="fa fa-check-square-o"></i> Save
    </button>
    <button type="button" onclick="fnResetScreen()" class="btn btn-danger">
        <i class="fa fa-check-square-o"></i> Clear
    </button>
</div>


<script>
    $(function () {
        $('li a[href="/Admin/Admin/OnlineExaminationApp"]').parent('li').addClass('active');
    });
    $(document).on("change", "#AcademicID", function () {
        $("#DepartmentID").empty();
        $.ajax({
            type: 'POST',
            url: '@Url.Action("GetDepartmentDrop","Admin",new { area="Admin"})', // we are calling json method
            dataType: 'json',
            data: { academicID: $("#AcademicID").val() != '' ? $("#AcademicID").val() : "0" },
            success: function (res) {
                // states contains the JSON formatted list
                // of states passed from the controller
                $("#DepartmentID").append('<option value="">Select Faculty</option>');
                $.each(res, function (i, state) {
                    $("#DepartmentID").append('<option value="' + state.Value + '">' +
                         state.Text + '</option>');
                    // here we are adding option for States

                });
            },
            error: function (ex) {
                alert('Failed to retrieve Faculty.' + ex);
            }
        });
        return false;
    })
    $(document).on("change", "#DepartmentID", function () {
        $("#ProgrammeVersioningID").empty();
        $("#CountryID").empty();
        $("#ProgrammeYear").empty();
        $("#ProgrammeSemesterID").empty();
        $("#CourseID").empty();
        $.ajax({
            type: 'POST',
            url: '@Url.Action("GetProgDropWithVersion","Admin",new { area="Admin"})',
            dataType: 'json',
            data: { departmentID: $("#DepartmentID").val() != '' ? $("#DepartmentID").val() : "0" },
            success: function (res) {
                $("#ProgrammeVersioningID").append('<option value="">Select Programme</option>');
                $.each(res, function (i, state) {
                    $("#ProgrammeVersioningID").append('<option value="' + state.Value + '">' +
                        state.Text + '</option>');
                });
            },
            error: function (ex) {
                alert('Failed to retrieve Faculty.' + ex);
            }
        });
        return false;
    });


    $(document).on("change", "#ProgrammeVersioningID", function () {

        $("#CountryID").empty();
        $("#ProgrammeYear").empty();
        $("#ProgrammeSemesterID").empty();
        $("#CourseID").empty();
        $.ajax({
            type: 'POST',
            url: '@Url.Action("ChangeProgramSelection", "Admin",new { area="Admin"})', // we are calling json method
            dataType: 'json',
            data: { programmeVersionID: $("#ProgrammeVersioningID").val() != '' ? $("#ProgrammeVersioningID").val() : "0" },
            success: function (res) {
                if (res != null) {
                    $("#CountryID").append('<option value="">Select Country</option>');
                    $.each(res.CountryList, function (i, state) {
                        $("#CountryID").append('<option value="' + state.Value + '">' +
                             state.Text + '</option>');
                    });
                }
                else {

                    $("#CountryCode").append('<option value="">Select Country</option>');
                }
            },
            error: function (ex) {
                alert('Failed to retrieve country.' + ex);
            }
        });
        return false;
    });

    $(document).on("change", "#CountryID", function () {
        $("#ProgrammeYear").empty();
        $("#ProgrammeSemesterID").empty();
        $("#CourseID").empty();
        $.ajax({
            type: 'POST',
            url: '@Url.Action("ChangeCountrySelection", "Admin",new { area="Admin"})',
            dataType: 'json',
            data: {
                programmeVersionID: $("#ProgrammeVersioningID").val() != '' ? $("#ProgrammeVersioningID").val() : "0",
                countryID: $('#CountryID').val() != '' ? $("#CountryID").val() : "0"
            },
            success: function (res) {
                if (res != null) {
                    $("#ProgrammeYear").append('<option value="">Select Programme Year</option>');
                    $.each(res.ProgYearList, function (i, state) {
                        $("#ProgrammeYear").append('<option value="' + state.Value + '">' +
                             state.Text + '</option>');
                    });
                }
                else {
                    $("#ProgrammeYear").append('<option value="">Select Programme Year</option>');

                }
            },
            error: function (ex) {
                alert('Failed to retrieve Programme year.' + ex);
            }
        });
        return false;
    });

    $(document).on("change", "#ProgrammeYear", function () {
        $("#ProgrammeSemesterID").empty();
        $("#CourseID").empty();
        $.ajax({
            type: 'POST',
            url: '@Url.Action("ChangeProgramYearSelection", "Admin",new { area="Admin"})',
            dataType: 'json',
            data: {
                programmeVersionID: $("#ProgrammeVersioningID").val() != '' ? $("#ProgrammeVersioningID").val() : "0",
                countryID: $('#CountryID').val() != '' ? $("#CountryID").val() : "0",
                programYear: $('#ProgrammeYear').val() != '' ? $("#ProgrammeYear").val() : "0"
            },
            success: function (res) {
                if (res != null) {
                    $("#ProgrammeSemesterID").append('<option value="">Select Semester</option>');
                    $.each(res.ProgSEMList, function (i, state) {
                        $("#ProgrammeSemesterID").append('<option value="' + state.Value + '">' +
                             state.Text + '</option>');
                    });
                }
                else {

                    $("#ProgrammeSemesterID").append('<option value="">Select Semester</option>');

                }
            },
            error: function (ex) {
                alert('Failed to retrieve Semester.' + ex);
            }
        });
        return false;
    });


    $(document).on("change", "#ProgrammeSemesterID", function () {
        $("#CourseID").empty();
        $.ajax({
            type: 'POST',
            url: '@Url.Action("GetCourseExam", "Admin",new { area="Admin"})',
            dataType: 'json',
            data: {
                DepartmentID: $("#DepartmentID").val(),
                programVersioningID: $("#ProgrammeVersioningID").val() != '' ? $("#ProgrammeVersioningID").val() : "0",
                countryId: $('#CountryID').val() != '' ? $("#CountryID").val() : "0",
                programmeYear: $('#ProgrammeYear').val() != '' ? $("#ProgrammeYear").val() : "0",
                programmeSem: $('#ProgrammeSemesterID').val() != '' ? $("#ProgrammeSemesterID").val() : "0"
            },
            success: function (res) {
                $("#CourseID").append('<option value="">Select Course</option>');
                $.each(res, function (i, state) {
                    $("#CourseID").append('<option value="' + state.Value + '">' +
                        state.Text + '</option>');
                });
            },
            error: function (ex) {
                alert('Failed to retrieve Course.' + ex);
            }
        });
        return false;
    });
    $(document).on("change", "#CourseID", function () {
        if ($('#CourseID').val() != '') {
            var model = {
                ProgrammeVersioningID: $("#ProgrammeVersioningID").val() != '' ? $("#ProgrammeVersioningID").val() : "0",
                CountryID: $('#CountryID').val() != '' ? $("#CountryID").val() : "0",
                ProgrammeSemesterID: $('#ProgrammeSemesterID').val() != '' ? $("#ProgrammeSemesterID").val() : "0",
                CourseID: $('#CourseID').val() != '' ? $("#CourseID").val() : "0"
            }
            $.ajax({
                type: 'POST',
                url: '@Url.Action("OnlineExaminationAppList", "Admin",new { area="Admin"})',
                dataType: 'html',
                contentType: "application/json;charset=utf-8",
                data: JSON.stringify(model),
                success: function (res) {
                    $('#StudentListDiv').html(res);
                },
                error: function (ex) {
                    console.log(ex);
                }
            });
        }

    });
    function fnSaveOnlineExamApplication() {
        var studentrecord = [];
        $.each($(".students:checked"), function () {
            studentrecord.push({
                CourseID: $("#CourseID").val(),
                StudentID: $(this).attr('data-id'),
                PaymentStatus: $(this).is(':checked') ? 'A' : 'I'
            });
        });
        if (studentrecord.length>0) {
            $.ajax({
                url: '@Url.Action("SaveOnlineExamination", "Admin",new {area="Admin" })',
                data: JSON.stringify(studentrecord),
                type: 'POST',
                cache: false,
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (result) {
                    if (result > 0) {
                        alert('Your request has been processed successfully.');
                    }
                    else {
                        alert('Error in your requst.');
                    }
                },
                error: function (e) {
                    alert('Error in your requst.');
                }
            });
        }
    }
    function fnResetScreen() {
        $("#ProgrammeVersioningID").empty();
        $("#CountryID").empty();
        $("#ProgrammeYear").empty();
        $("#ProgrammeSemesterID").empty();
        $("#CourseID").empty();
        $('#StudentListDiv').empty();
    }
</script>